/*
    ChibiOS/RT - Copyright (C) 2006-2013 Giovanni Di Sirio

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/

//#include <string.h>

#include "ch.h"
#include "hal.h"
#include "gfx.h"
#include "board_ILI9341.h"
#include "printf.h"

static void pwmpcb(PWMDriver *pwmp);
static void adccb(ADCDriver *adcp, adcsample_t *buffer, size_t n);
static void spicb(SPIDriver *spip);

#define V25		1410.0
#define Avg_Slope	4300.0
#define Vref		3300

GHandle ghProgressbar;
static GHandle ghLabel1;

static void _createWidget(void) {
	GWidgetInit	wi;
 
	wi.customDraw = 0;
	wi.customParam = 0;
	wi.customStyle = 0;
	wi.g.show = TRUE;
 
	wi.g.y = 24; wi.g.x = 31; wi.g.width = 256; wi.g.height = 24; wi.text = "Voltage PC0";
	ghProgressbar = gwinProgressbarCreate(NULL, &wi);

	// Apply the label parameters	
	wi.g.y = 80;
	wi.g.x = 20;
	wi.g.width = 140;
	wi.g.height = 24;
	wi.text = "Seconds";
 
	// Create the actual label
	ghLabel1 = gwinLabelCreate(NULL, &wi);
}

/* The handles for two consoles */
GHandle GW1, GW2;

/* Total number of channels to be sampled by a single ADC operation.*/
#define ADC_GRP1_NUM_CHANNELS   2

/* Depth of the conversion buffer, channels are sampled four times each.*/
#define ADC_GRP1_BUF_DEPTH      4

/*
 * ADC samples buffer.
 */
static adcsample_t samples[ADC_GRP1_NUM_CHANNELS * ADC_GRP1_BUF_DEPTH];

/*
 * ADC conversion group.
 * Mode:        Linear buffer, 4 samples of 2 channels, SW triggered.
 * Channels:    IN10   (41.5 cycles sample time)
 *              Sensor (239.5 cycles sample time)
 */
static const ADCConversionGroup adcgrpcfg = {
  FALSE,
  ADC_GRP1_NUM_CHANNELS,
  adccb,
  NULL,
  /* HW dependent part.*/
  0,
  ADC_CR2_TSVREFE,
  ADC_SMPR1_SMP_AN10(ADC_SAMPLE_41P5) | ADC_SMPR1_SMP_SENSOR(ADC_SAMPLE_239P5),
  0,
  ADC_SQR1_NUM_CH(ADC_GRP1_NUM_CHANNELS),
  0,
  ADC_SQR3_SQ2_N(ADC_CHANNEL_IN10) | ADC_SQR3_SQ1_N(ADC_CHANNEL_SENSOR)
};

/*
 * PWM configuration structure.
 * Cyclic callback enabled, channels 3 and 4 enabled without callbacks,
 * the active state is a logic one.
 */
static PWMConfig pwmcfg = {
  10000,                                    /* 10kHz PWM clock frequency.   */
  10000,                                    /* PWM period 1S (in ticks).    */
  pwmpcb,
  {
    {PWM_OUTPUT_DISABLED, NULL},
    {PWM_OUTPUT_DISABLED, NULL},
    {PWM_OUTPUT_ACTIVE_HIGH, NULL},
    {PWM_OUTPUT_ACTIVE_HIGH, NULL}
  },
  /* HW dependent part.*/
  0,
  0,
#if STM32_PWM_USE_ADVANCED
  0
#endif
};

/*
 * SPI configuration structure.
 * Maximum speed (12MHz), CPHA=0, CPOL=0, 16bits frames, MSb transmitted first.
 * The slave select line is the pin GPIOA_SPI1NSS on the port GPIOA.
 */
static const SPIConfig spicfg = {
  spicb,
  /* HW dependent part.*/
  GPIOA,
  GPIOA_SPI1NSS,
  SPI_CR1_DFF
};

/*
 * PWM cyclic callback.
 * A new ADC conversion is started.
 */
static void pwmpcb(PWMDriver *pwmp) {

  (void)pwmp;

  /* Starts an asynchronous ADC conversion operation, the conversion
     will be executed in parallel to the current PWM cycle and will
     terminate before the next PWM cycle.*/
  chSysLockFromIsr();
  adcStartConversionI(&ADCD1, &adcgrpcfg, samples, ADC_GRP1_BUF_DEPTH);
  chSysUnlockFromIsr();
}

/*
 * ADC end conversion callback.
 * The PWM channels are reprogrammed using the latest ADC samples.
 * The latest samples are transmitted into a single SPI transaction.
 */
adcsample_t avg_ch1, avg_ch2;
void adccb(ADCDriver *adcp, adcsample_t *buffer, size_t n) {

  (void) buffer; (void) n;
  /* Note, only in the ADC_COMPLETE state because the ADC driver fires an
     intermediate callback when the buffer is half full.*/
  if (adcp->state == ADC_COMPLETE) {

    /* Calculates the average values from the ADC samples.*/
    avg_ch1 = (samples[0] + samples[2] + samples[4] + samples[6]) / 4;
    avg_ch2 = (samples[1] + samples[3] + samples[5] + samples[7]) / 4;

    chSysLockFromIsr();

    /* Changes the channels pulse width, the change will be effective
       starting from the next cycle.*/
    pwmEnableChannelI(&PWMD3, 2, PWM_FRACTION_TO_WIDTH(&PWMD3, 4096, avg_ch1));
    pwmEnableChannelI(&PWMD3, 3, PWM_FRACTION_TO_WIDTH(&PWMD3, 4096, avg_ch2));

    /* SPI slave selection and transmission start.*/
    spiSelectI(&SPID1);
    spiStartSendI(&SPID1, ADC_GRP1_NUM_CHANNELS * ADC_GRP1_BUF_DEPTH, samples);

    chSysUnlockFromIsr();
  }
}

/*
 * SPI end transfer callback.
 */
static void spicb(SPIDriver *spip) {

  /* On transfer end just releases the slave select line.*/
  chSysLockFromIsr();
  spiUnselectI(spip);
  chSysUnlockFromIsr();
}

/*
 * This is a periodic thread that does absolutely nothing except increasing
 * a seconds counter.
 */
uint16_t seconds_counter;
static WORKING_AREA(waThread1, 128);
static msg_t Thread1(void *arg) {
//  static uint32_t seconds_counter;

  (void)arg;
  chRegSetThreadName("counter");
  while (TRUE) {
    gfxSleepMilliseconds(1000);
    seconds_counter++;
  }
  return 0;
}

/*
 * Application entry point.
 */
int main(void) {

  coord_t	width, height;
  coord_t	i, j;
  adcsample_t	avg_ch1_old = 0, avg_ch2_old = 0;
  uint16_t	seconds_counter_old = 0;
  float		temp;
  uint16_t	mvolt;
  char		buf[24];
 
  /*
   * System initializations.
   * - HAL initialization, this also initializes the configured device drivers
   *   and performs the board-specific initializations.
   * - Kernel initialization, the main() function becomes a thread and the
   *   RTOS is active.
   */
  halInit();
  chSysInit();

  /*
   * This initialization requires the OS already active because it uses delay
   * APIs inside.
   */
  // Initialize uGFX and the underlying system
  gfxInit();

  /*
   * Activates the serial driver 1 using the driver default configuration.
   */
  sdStart(&SD1, NULL);

  /*
   * Initializes the SPI driver 1.
   */
  spiStart(&SPID1, &spicfg);

  /*
   * Initializes the ADC driver 1.
   * The pin PC0 on the port GPIOC is programmed as analog input.
   */
  adcStart(&ADCD1, NULL);
  palSetGroupMode(GPIOC, PAL_PORT_BIT(0), 0, PAL_MODE_INPUT_ANALOG);

  /*
   * Initializes the PWM driver 3, re-routes the TIM3 outputs, programs the
   * pins as alternate functions.
   * Note, the AFIO access routes the TIM3 output pins on the PC6...PC9
   * where the LEDs are connected.
   */
  pwmStart(&PWMD3, &pwmcfg);
  AFIO->MAPR |= AFIO_MAPR_TIM3_REMAP_0 | AFIO_MAPR_TIM3_REMAP_1;
  palSetGroupMode(GPIOC, PAL_PORT_BIT(GPIOC_LED3) | PAL_PORT_BIT(GPIOC_LED4),
                  0,
                  PAL_MODE_STM32_ALTERNATE_PUSHPULL);

  /*
   * Creates the example thread.
   */
  chThdCreateStatic(waThread1, sizeof(waThread1), NORMALPRIO, Thread1, NULL);

  // Code Here

  /*
   * simple graphics demo
   */

  // Get the screen size
  width = gdispGetWidth();
  height = gdispGetHeight();

  gdispDrawBox(10, 10, width/2, height/2, Yellow);
  gdispFillArea(width/2, height/2, width/2-10, height/2-10, Blue);
  gdispDrawLine(5, 30, width-50, height-40, Red);

  for(i = 5, j = 0; i < width && j < height; i += 7, j += i/20)
  gdispDrawPixel(i, j, Green);

  font_t font = gdispOpenFont("DejaVuSans24");
  gwinSetDefaultFont(font);

  gdispDrawString(16, 16, "STM32VLDiscovery", font, White);

  gdispDrawStringBox(0, 150, width, 40, "ChibiOS/RT + uGFX", font, White, justifyCenter);

  chThdSleepMilliseconds(5000);


  /*
   * Normal main() thread activity, in this demo it does nothing except
   * sleeping in a loop and check the button state
   */

  gdispClear(Black);
  gdispDrawStringBox(0, 0, width, 24, "ADC Results:", font, Green, justifyCenter);
  gdispFillStringBox(0, (height-24), width/2, 24, "Seconds:", font, Yellow, Green, justifyRight);

  while (!palReadPad(GPIOA, GPIOA_BUTTON)) {

    if(seconds_counter != seconds_counter_old){
      sprintf_(buf," %u ", seconds_counter);
      gdispFillStringBox(width/2, (height-24), width/2, 24, buf, font, White, Green, justifyLeft);
      seconds_counter_old = seconds_counter;
    }

    if(avg_ch1 != avg_ch1_old){
      mvolt = avg_ch1 * Vref / 4096;
      if (V25 > mvolt) {
        temp = (float)((V25 - mvolt) / Avg_Slope) + 25.0;
      } else {
        temp = (float)((mvolt - V25) / Avg_Slope) + 25.0;
      }
      sprintf_(buf,"Temp: %2.2f oC", temp);
      gdispFillStringBox(0, 48, width, 24, buf, font, Red, Black, justifyLeft);
      avg_ch1_old = avg_ch1;
    }

    if(avg_ch2 != avg_ch2_old){
      mvolt = avg_ch2 * Vref / 4096;
      sprintf_(buf,"PC0: %u mV", mvolt);
      gdispFillStringBox(0, 96, width, 24, buf, font, Blue, Black, justifyLeft);
      avg_ch2_old = avg_ch2;
    }

    gfxSleepMilliseconds(500);
  }

  /*
   *   Using GWin
   */

  gwinSetDefaultFont(gdispOpenFont("DejaVuSans16"));
  gwinSetDefaultStyle(&WhiteWidgetStyle, FALSE);
  gdispClear(White);

  _createWidget();

  /* create the two console windows */
  {
    GWindowInit		wi;

    wi.show = TRUE;
    wi.x = 0; wi.y = height/2; wi.width = width/2; wi.height = height/2;
    GW1 = gwinConsoleCreate(0, &wi);
    wi.show = TRUE;
    wi.x = width/2; wi.y = height/2; wi.width = width/2; wi.height = height/2;
    GW2 = gwinConsoleCreate(0, &wi);
  }

  /* Set the fore- and background colors for each console */
  gwinSetColor(GW1, White);
  gwinSetBgColor(GW1, Blue);
  gwinSetColor(GW2, Yellow);
  gwinSetBgColor(GW2, Green);

  /* clear all console windows - to set background */
  gwinClear(GW1);
  gwinClear(GW2);

  gwinProgressbarSetRange(ghProgressbar, 0, 255);
  gwinLabelSetBorder(ghLabel1, TRUE);

  while (TRUE) {
    if (palReadPad(GPIOA, GPIOA_BUTTON)) {
      sdPut(&SD1, 'A');
    }

    sprintf_(buf,"Seconds: %d", seconds_counter);
    gwinSetText(ghLabel1, buf, TRUE);

    if(avg_ch1 != avg_ch1_old){
      mvolt = avg_ch1 * Vref / 4096;
      if (V25 > mvolt) {
        temp = (float)((V25 - mvolt) / Avg_Slope) + 25.0;
      } else {
        temp = (float)((mvolt - V25) / Avg_Slope) + 25.0;
      }
      gwinPrintf(GW1, "Temp: %f oC\n", temp);
      avg_ch1_old = avg_ch1;
    }

    if(avg_ch2 != avg_ch2_old){
      gwinProgressbarSetPosition(ghProgressbar, (avg_ch2/16));

      mvolt = avg_ch2 * Vref / 4096;
      gwinPrintf(GW2, "PC0: %u mV\n", mvolt);
      avg_ch2_old = avg_ch2;
    }

    gfxSleepMilliseconds(500);
  }
}
